@import '~variables.scss';

// setting "content" to grow/shink
:host {
    display: flex;
    background-color: $content-area-background-color;
    flex-grow: 1;
}

.body-style {
    padding: 20px;
    flex-grow: 1;
}