<nav>
  <ul>
    <li *ngFor='let item of menuSvc.items'>     
      <fw-menu-item
        [item]='item'
        [ngClass] ="{ 'vertical-menu': menuSvc.isVertical }"
        [parentIsPopup] = 'false'>

      </fw-menu-item>    
    </li>
  </ul>
</nav>
<button 
      *ngIf='!menuSvc.showingLeftSideMenu'
      class='btn btn-sm'
      [ngClass]="{ 'horizontal': !menuService.isVertical }"
      (click)='menuSvc.toggleMenuOrientation()'>
  <span *ngIf='menuSvc.isVertical' opticon='chevron-up'></span>
  <span *ngIf='!menuSvc.isVertical' opticon='chevron-left'></span>
</button>
