$header-bar-background-color: white;
$footer-bar-background-color: green;
$content-area-background-color: #f0fff0;
/*
 * to change fonts you need to add or replace CDN to src/index.html
 * and then configure in src/styles.scss
 */